.main-div {
  width: 100%;
  padding-top: 25px;
  margin-top: 15px;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 3fr .5fr 1fr;
  gap: 15px;
  margin: 10px;
}

.main-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.main-title {
  padding: 10px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 58px;
  border-top: 1px solid #222D4A;
  border-right: 1px solid #222D4A;
  border-bottom: 1px solid #222D4A;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px silver;
  width: 65%;
}

.brand-text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  height: 100px;
}

.main-nav {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-bottom: 33px;
  margin-top: 30px;
  width: 100%;
}

.main-footer-div {
  width: 100%;
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  height: 50%;
  margin-top: 50px;
}

@media screen and (min-width: 768px) {
  
  .main-image {
    width: 200%;
    margin-top: 20px;
  }

  .main-title {
    margin-right: 20px;
    width: 500px;
  }

  .brand-text {
    height: 100px;
  }

  .main-nav {
    margin-bottom: 50px;
    margin-top: 0;
  }

}

@media screen and (min-width: 1024px) {

  .main-header {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr .5fr .5fr;
  }

  .main-image {
    width: 100%;
    height: 100%;
  }

  .main-title {
    width: 700px;
    height: 300px;
    margin-top: 40px;
  }

  .main-footer-div {
    margin: 0;
  }

}

@media screen and (min-width: 1440px) {

  .main-title {
    width: 85%;
    margin-right: 100px;
  }

  .main-image {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    height: 800px;
    width: 450px;
    margin-left: 30px;
  }

  .brand-text {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    width: 95%;
    font-size: 26px;
  }

  .main-title {
    border: none;
    box-shadow: none;
  }

}