.main-div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
  padding-top: 25px;
  margin-top: 15px;
}

.main-header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 15px;
  margin: 10px;
  height: 500px;
}

.main-image {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.main-title {
  padding: 10px;
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding-left: 58px;
  border-top: 1px solid #222D4A;
  border-right: 1px solid #222D4A;
  border-bottom: 1px solid #222D4A;
  border-radius: 10px;
  box-shadow: 0 8px 6px -6px silver;
  width: 65%;
}

.brand-text {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
  height: 200px;
}

.main-nav {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  margin-bottom: 33px;
  margin-top: 15px;
  width: 100%;
}

.main-footer-div {
  width: 100%;
}

@media screen and (min-width: 768px) {
  
  .main-image {
    width: 120%;
    /* margin-left: 40px; */
  }

  .main-title {
    margin-right: 20px;
    width: 500px;
  }

  .brand-text {
    height: 200px;
  }

  .main-nav {
    margin-bottom: 50px;
    margin-top: 0;
  }

}