.projects-div {
  color: #222D4A;
}

.projects-title-div {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  margin: 10px;
  font-family: Playball, cursive;
  font-size: 32px;
}

.projects-title-div h2 {
  margin-bottom: 0;
}

.projects-bottom-button {
  margin-bottom: 33px;
}

@media screen and (min-width: 768px) {
  
  .project-div {
    margin: 20px;
  }

  .projects-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

}


@media screen and (min-width: 1440px) {

  .projects-container {
    margin-bottom: 225px;
  }

}