.education-div {
  text-align: center;
  font-family: Playball, cursive;
  font-size: 24px;
  margin-bottom: 33px;
  margin-top: 21px;
  width: 100%;
  color: #182543;
}

.education-article {
  text-align: left;
  font-size: 18px;
  font-family: Montserrat, sans-serif;
  margin: 10px 5px 7px 5px;
}

.education-content {
  margin: 0;
}

.playball {
  font-family: Playball, cursive;
}

@media screen and (min-width: 768px) {

  .education-container {
    display: flex;
    justify-content: center;
  }

  .education-article {
    margin: 20px;
    width: 300px;
    border: 3px solid silver;
    border-radius: 10px;
    background-color: whitesmoke;
    padding: 6px;
    box-shadow: 0 8px 6px -6px silver;
  }

  .playball {
    margin-bottom: 10px;
  }

}

@media screen and (min-width: 1440px) {
  .education-container {
    font-size: 42px;
  }
}
